.header {
  margin-bottom: 32px;
  padding: 24px 20px;

  border-radius: 16px;
  background: linear-gradient(135deg, #fff, #fdeaf1);
  border: 1px solid #f3d2df;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 6px;
}

.name {
  font-size: 16px;
  color: #555;
  margin-bottom: 6px;
}

.link {
  font-size: 14px;
  color: #901757;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
